.footer {
  background-color: var(--color-background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
  }
}

.address {
  &__link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-cubic);
    &--light {
      color: var(--color-primary-white);
    }
    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }
  &__item:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }
}
