.hero {
  text-align: center;
  background-color: var(--color-background-light);
  margin: 0 auto;
  padding: 118px 0;
  @media screen and (min-width: $desktop) {
    padding: 200px 0;
  }
  &__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary-white);
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
}

.hero-canvas {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-mobile-1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: $desktop) {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-canvas {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-mobile-2x.jpg');
  }
}

@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (min-resolution: 2dppx) {
  .hero-canvas {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet-2x.jpg');
  }
}

@media screen and (min-width: $tablet) {
  .hero-canvas {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tablet-1x.jpg');
  }
}

@media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
  screen and (min-width: $desktop) and (min-resolution: 192dpi),
  screen and (min-width: $desktop) and (min-resolution: 2dppx) {
  .hero-canvas {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desktop-2x.jpg');
  }
}

@media screen and (min-width: $desktop) {
  .hero-canvas {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desktop-1x.jpg');
  }
}
