.team {
  display: flex;
  flex-wrap: wrap;
  &__card {
    border-radius: 0px 0px 4px 4px;
    background: var(--color-primary-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__details {
    padding: 30px 32px;
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--color-text-title);
    margin-bottom: 10px;
  }
  &__description {
    text-align: center;
    margin-bottom: 16px;
  }
}
